<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-income-heading" jhiTranslate="coesiApp.income.home.createOrEditLabel">Create or edit a Income</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coesiApp.income.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                    <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('amount')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('amount')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coesiApp.income.comments" for="field_comments">Comments</label>
                    <input type="text" class="form-control" name="comments" id="field_comments"
                           formControlName="comments"/>
                    <div *ngIf="editForm.get('comments')!.invalid && (editForm.get('comments')!.dirty || editForm.get('comments')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('comments')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 500 }">
                            This field cannot be longer than 500 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coesiApp.income.applicationDate" for="field_applicationDate">Application date</label>
                    <div class="input-group">
                        <input id="field_applicationDate" type="text" class="form-control" name="applicationDate" 
                               ngbDatepicker #applicationDateDp="ngbDatepicker" formControlName="applicationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="applicationDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('applicationDate')!.invalid && (editForm.get('applicationDate')!.dirty || editForm.get('applicationDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('applicationDate')?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coesiApp.income.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option *ngIf="!editForm.get('user')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.lastName }} {{ userOption.firstName }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('user')!.invalid && (editForm.get('user')!.dirty || editForm.get('user')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('user')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coesiApp.income.conceptIncome" for="field_conceptIncome">Concept Income</label>
                    <select class="form-control" id="field_conceptIncome" name="conceptIncome" formControlName="conceptIncome">
                        <option *ngIf="!editForm.get('conceptIncome')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="conceptIncomeOption.id === editForm.get('conceptIncome')!.value?.id ? editForm.get('conceptIncome')!.value : conceptIncomeOption" *ngFor="let conceptIncomeOption of conceptincomes; trackBy: trackById">{{ conceptIncomeOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('conceptIncome')!.invalid && (editForm.get('conceptIncome')!.dirty || editForm.get('conceptIncome')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('conceptIncome')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
