<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="income">
            <h2><span jhiTranslate="coesiApp.income.detail.title">Income</span> {{ income.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coesiApp.income.amount">Amount</span></dt>
                <dd>
                    <span>{{ income.amount }}</span>
                </dd>
                <dt><span jhiTranslate="coesiApp.income.comments">Comments</span></dt>
                <dd>
                    <span>{{ income.comments }}</span>
                </dd>
                <dt><span jhiTranslate="coesiApp.income.applicationDate">Application Date</span></dt>
                <dd>
                    <span>{{ income.applicationDate }}</span>
                </dd>
                <dt><span jhiTranslate="coesiApp.income.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{ income.creationDate }}</span>
                </dd>
                <dt><span jhiTranslate="coesiApp.income.modificationDate">Modification Date</span></dt>
                <dd>
                    <span>{{ income.modificationDate }}</span>
                </dd>
                <dt><span jhiTranslate="coesiApp.income.user">User</span></dt>
                <dd>
                    {{ income.user?.login }}
                </dd>
                <dt><span jhiTranslate="coesiApp.income.creationUser">Creation User</span></dt>
                <dd>
                    {{ income.creationUser?.login }}
                </dd>
                <dt><span jhiTranslate="coesiApp.income.modificationUser">Modification User</span></dt>
                <dd>
                    {{ income.modificationUser?.login }}
                </dd>
                <dt><span jhiTranslate="coesiApp.income.conceptIncome">Concept Income</span></dt>
                <dd>
                    <div *ngIf="income.conceptIncome">
                        <a [routerLink]="['/concept-income', income.conceptIncome?.id, 'view']">{{ income.conceptIncome?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/income', income.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
