<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="statusGroup">
            <h2><span jhiTranslate="coesiApp.statusGroup.detail.title">Status Group</span> {{ statusGroup.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coesiApp.statusGroup.name">Name</span></dt>
                <dd>
                    <span>{{ statusGroup.name }}</span>
                </dd>
                <dt><span jhiTranslate="coesiApp.statusGroup.keyStatus">Key Status</span></dt>
                <dd>
                    <span>{{ statusGroup.keyStatus }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/status-group', statusGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
