<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="conceptIncome">
            <h2><span jhiTranslate="coesiApp.conceptIncome.detail.title">Concept Income</span> {{ conceptIncome.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coesiApp.conceptIncome.name">Name</span></dt>
                <dd>
                    <span>{{ conceptIncome.name }}</span>
                </dd>
                <dt><span jhiTranslate="coesiApp.conceptIncome.keyConcept">Key Concept</span></dt>
                <dd>
                    <span>{{ conceptIncome.keyConcept }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/concept-income', conceptIncome.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
